@model MVC_Test.Models.User

@{
    ViewBag.Title = "Login";
}

<div class=" col-md-6 col-md-offset-3 ">
    <div class="login-form header-anim">
        <div class="close"> </div>
        <div class="head-info">
            <label class="lbl-1"> </label>
            <label class="lbl-2"> </label>
            <label class="lbl-3"> </label>
        </div>
        <div class="clear"> </div>
        <div class="avtar">
            <img src="~/Content/images/avtar.png" />
        </div>
        @using (@Html.BeginRouteForm("loginValidation"))
        {
                @Html.TextBoxFor( user => user.Email , new { @class = "username"} )
                
                <div class="validation">
                    @Html.ValidationMessageFor(user => user.Email, "", new { @class = "text-danger" })
                </div>

               
               @Html.PasswordFor( user => user.Password , new { @class= "passwordtxt"})
                
                <div class="validation">
                    @Html.ValidationMessageFor(user => user.Password, "", new {@class = "text-danger well-sm"})
                </div>

                <div class="signin">
                    <input type="submit" class="submitBtn" value="Login">
                </div>
    
            
        }
        
    </div>
</div>


