@{
    ViewBag.Title = "Review";
}

@section Banner
{
    @Html.Partial("bannerSmall")
}

<div class="col-md-9 technology-left">
    <div class="agileinfo">

        <h5 class="top">@Model.Title</h5>
        <p>By <a href="#">@ViewBag.Author</a></p>
        <div class="single">
            <img src="~/Content/images/cover.jpg" class="img-responsive" alt="" style="margin-bottom: 2em;">
            <div class="b-bottom">

                <p class="sub">@Model.Details</p>

                <p class="pull-right" style="margin-top: 2em;">@Model.Date <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>

            </div>
        </div>


        <div class="response" style="margin-top: 10em;">
            <h4>Responses</h4>
            @if (ViewBag.Comments != null)
            {
                foreach (var comment in ViewBag.Comments)
                {
                    <div class="media response-info">
                         <div class="media-left response-text-left">
                           <a href="#">
                                <img src="~/Content/images/cover.jpg" class="img-responsive" alt="">
                            </a>
                          
                        </div> 
                        <div class="media-body response-text-right">
                            <p>@comment.UserId</p>
                            <p>
                                @comment.CommentText 
                            </p>
                            <ul>
                                <li>@comment.Date</li>
                            </ul>

                        </div>
                        <div class="clearfix"> </div>
                    </div>
                }
            }
        </div>
        <div class="coment-form" style="margin-top: 5em;">
            <h4>Leave your comment</h4>
            <form action="#" method="post">
                <textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Comment...';}" required>Your Comment...</textarea>
                <input class="pull-right" style="margin-top: 3em;" type="submit" value="Submit Comment">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

@section sideBar
{
    @Html.Partial("sideBar")
}
